<header id="apiHeader" class="background">
    <div class="container">
        <div class="row p-t-50">
            <h2>API</h2>
        </div>
    </div>
</header>

<section id="data" class="background">
    <div class="container">
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Year</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Score</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(let i = 0; i < cars.length; i++) { %>
                        <tr>
                            <td scope="row"><%= cars[i].car_id %></th>
                            <td><%= cars[i].email %></td>
                            <td><%= cars[i].name %></td>
                            <td><%= cars[i].year %></td>
                            <td><%= cars[i].make %></td>
                            <td><%= cars[i].model %></td>
                            <td><%= cars[i].score %></td>
                            <td style="list-style-type:none; display: flex; justify-content:space-between">
                                <li style="font-size:10px"><button><i data-feather="edit"></i></button></li>
                                <li><button><i data-feather="trash"></i></button></li>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</section>