<header id="apiHeader" class="background" data-aos="fade-right">
    <div class="container d-flex flex-column justify-content-center">
        <!-- Area Title -->
        <div class="row p-t-50 m-b-25">
            <h2>Search</h2>
        </div>
        <!-- /.area-title -->
        
        <!-- Search Area -->
        <div class="row d-flex w-100 align-self-center">
            <!-- Search Form -->
            <form action="/results" class="search-form w-100">
                <!-- Form Row -->
                <div class="row form-row p-r-0 text-center col-md-12">
                    <!-- Form Area -->
                    <div class="col-md-12 d-flex form-area flex-row justify-content-between">
                        <!-- ID Input -->
                        <input type="search" name="car_id" class="form-control search-bar" placeholder="Seach by ID...">
                        <!-- /.id-input -->

                        <div class="vr"></div>

                        <!-- Make Input -->
                        <input type="search" name="make" class="form-control search-bar" placeholder="Search by Make...">
                        <!-- /.make-input -->

                        <!-- Search Button -->
                        <button type="submit" class="btn btn-primary"><i data-feather="search"></i></button>
                        <!-- /.search-button -->
                    </div>
                    <!-- /.form-area -->
                </div>
                <!-- /.form-row -->
            </form>
            <!-- /.search-form -->
        </div>
        <!-- /.search-area -->
    </div>
</header>

<!-- Data Area -->
<section id="data" class="background p-t-75" data-aos="fade-up">
    <!-- Container -->
    <div class="container">
        <!-- Area Title -->
        <div class="d-flex justify-content-between align-items-center">
            <h4>Results</h4>

            <!-- Link to add form -->
            <a href="/new" class="link"><button class="btn btn-secondary form-control">Add Car</button></a>
            <!-- /.link-to-add-form -->
        </div>
        <!-- /.area-title -->

        <!-- Content -->
        <div class="content m-t-20">
            <!-- Results Table -->
            <table class="table table-bordered table-striped">
                <!-- Table Head -->
                <thead>
                    <!-- Column Headings -->
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Year</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Score</th>
                        <th scope="col">Action</th>
                    </tr>
                    <!-- /.column-headings -->
                </thead>
                <!-- /.table-head -->

                <!-- Table Body -->
                <tbody>
                    <!-- Rendering Data -->
                    <% for(let i = 0; i < cars.length; i++) { %>
                        <tr>
                            <td scope="row"><%= cars[i].car_id %></th>
                            <td><%= cars[i].email %></td>
                            <td><%= cars[i].name %></td>
                            <td><%= cars[i].year %></td>
                            <td><%= cars[i].make %></td>
                            <td><%= cars[i].model %></td>
                            <td><%= cars[i].score %></td>
                            <td style="list-style-type:none; display: flex; justify-content:space-between">
                                <button class="btn-edit"><i data-feather="edit"></i></button>
                            </td>
                        </tr>
                    <% } %>
                    <!-- /.rendering-data -->
                </tbody>
                <!-- /.table-body -->
            </table>
            <!-- /.results-table -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.data-area -->